<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bay Area Bikeshare</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>        
        </button>
          <a class="navbar-brand" href="./">Bay Area BikeShare</a>        
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="./">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/suggest">Suggest A Station<span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!-- Current Stations! -->
<div id='stations'>
</div>
  </section>

<!-- handlebars template to render-->
<script id="current-station-template" type="text/x-handlebars-template">

  <!-- one station -->
  <div class='row station' data-station-id='{{_id}}'>
    <div class='container'>
      <div class='col-md-10 col-md-offset-1'>
          <div class='panel-body'>
            <!-- begin station internal row -->
              <div class='row'>
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Map:</h4>
                      <span class='map'><div class='container' id='image'>" + 
  "                     <iframe src="{{stationImage}}" width='400' height='300' frameborder='0' style='border:0' allowfullscreen></iframe>" +
  "                  </div></span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Station:</h4>
                      <span class='station-name'>{{stationName}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Latitude:</h4>
                      <span class='station-latitude'>{{latitude}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Longitude:</h4>
                      <span class='station-longitude'>{{longitude}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Status:</h4>
                      <span class='station-status'>{{status}}</span>
                  </li>                  
                  <li class='list-group-item'>
                    <h4 class='inline-header'>City:</h4>
                      <span class='station-city'>{{city}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Total Docks:</h4>
                      <span class='station-docks'>{{totalDocks}}</span>
                  </li>                   
                </ul>
              </div>
            </div>
          <!-- end of station internal row --> 
    </div>
  </div>
 </div> 

   <!-- end one station -->
</script>
<footer>
  <p>&copy; 2015 Colbert Tse</p>
</footer>
</body>
</html>
