<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bay Area Bikeshare</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

<!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>

  </head>
  <body>
<!-- Modal here -->

<div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<!-- BEGIN FORM SAMPLE -->

    

<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Station Information</h3>
      </div>
      <div class="modal-body">
          <ul class='list-group'>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-id'>station.id</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Station Name:</h4>
                    <span class='station-name'></span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Latitude:</h4>
                    <span class='station-latitude'>" + station.latitude + "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Longitude:</h4>
                    <span class='station-longitude'>" + station.longitude+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Status:</h4>
                    <span class='station-status'>" + station.status+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>City:</h4>
                    <span class='station-city'>" + station.city+ "</span>
              </li>
              <li class='list-group-item'>
                  <h4 class='inline-header'>Total Docks:</h4>
                    <span class='station-total-docks'>" + station.totalDocks+ "</span>
              </li>
          </ul>
    </div>

<form class="comment-form"> 
<div class="container" id ="commentForm">   
    <h3>Enter Comments</h3>
      <div class="input-group">
        <span class="input-group-addon">User Name:</span>
        <input type="text" class="form-control" name="userName" placeholder="Username"><br>
      </div>
      <div class="input-group">
        <select class="form-control" name="commentType">
          <option value="Bike Lane">Bike Lane</option>
          <option value ="Bike Shop">Bike Shop</option>
          <option value="Other">Other</option><br>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comment:</span>
       <input type="text" class="form-control" name="userComment" placeholder="Enter your comment"><br>
      </div> 
      <div>  
        <input type="hidden" id="stationId" name="stationId" value=""> 
        <input type="submit" value="Submit">
      </div>
     </div> 
    </form>
<div class="container">
  <h2>Comments</h2>
<div id="comments">
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>Bay Area Bikeshare!</h1>
      <p>Find Your Bike</p>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/suggest">Suggest A Station<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Stations</h2>
        </div>
      </div>
      <!-- stations! -->
      <div id='stations'>

          </div>          
          <!-- end one station -->
      </div>
    </section>

  </body>
</html>