<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bay Area Bikeshare: Suggest a Station</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

<!-- APPLICATION SCRIPTS -->
    <script src="js/suggest.js"></script>

  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>Bay Area Bikeshare!</h1>
        <p>Suggest a Station!</p>
      </div>
    </div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="./">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/suggest">Suggest A Station<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Stations</h2>
        </div>
      </div>

<!-- BEGIN FORM SAMPLE -->

    <section id='suggest-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Suggest a New Station</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">User Name:</label>
              <div class="col-md-4">
              <input id="textinput" name="userName" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="station_suggestion">Station Suggestion:</label>
              <div class="col-md-4">
              <input id="textinput" name="suggestStation" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="latitude">Latitude</label>
              <div class="col-md-4">
              <input id="textinput" name="latitude" type="text" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="latitude">Longitude</label>
              <div class="col-md-4">
              <input id="textinput" name="longitude" type="text" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="city">City</label>
              <div class="col-md-4">
              <input id="textinput" name="city" type="text" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="why">Why</label>
              <div class="col-md-4">
              <input id="textinput" name="whyComment" type="text" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="date">Date</label>
              <div class="col-md-4">
              <input id="textinput" name="date" type="text" class="form-control input-md">

              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Station</label>
              <div class="col-md-4">
                <button id="singleButton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->

      <!-- stations! -->
      <div id='suggest'>
      </div>
    </section>






<!-- handlebars template -->
<script id="station-template" type="text/x-handlebars-template">

  <!-- one station -->
  <div class='row station' data-station-id='{{_id}}'>
    <div class='container'>
      <div class='col-md-10 col-md-offset-1'>
          <div class='panel-body'>
            <!-- begin station internal row -->
              <div class='row'>
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>User Name:</h4>
                      <span class='user-name'>{{userName}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Suggested Station:</h4>
                      <span class='station-name'>{{suggestStation}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Latitude:</h4>
                      <span class='station-latitude'>{{latitude}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Longitude:</h4>
                      <span class='station-latitude'>{{longitude}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>City:</h4>
                      <span class='station-city'>{{city}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Why?:</h4>
                      <span class='station-why'>{{whyComment}}</span>
                  </li>
                  <li class='list-group-item'>
                    <h4 class='inline-header'>Date:</h4>
                      <span class='station-date'>{{date}}</span>
                  </li>                      
                </ul>
              </div>
              <div>
                <button class='btn btn-danger delete-station'>Delete Station</button>
              </div> 
            </div>
          <!-- end of station internal row --> 
    </div>
  </div>
 </div>               
   <!-- end one station -->



</script>





  </body>
</html>
