.jumbotron {
  background-image: url(/images/bikes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
/*#commentForm {
	padding: 15px;
}*/

.input-group {
	max-width: 550px;
}

