* {
  box-sizing: border-box;
 } 

.jumbotron {
  background-image: url(/images/bikes.jpg);
  background-size: cover;   
  color: #EEE;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  height: 250px;
}

#dock {
  background-image: url(/images/dock.jpg);
  background-size: cover;   
  color: #EEE;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  height: 250px;	
}

.navbar-header {
	margin-left: 50px;
}

#image {
	padding: 20px;
}

.input-group {
	max-width: 550px;
}

.comment {
	width: 50%;
}

.IDComment {
  padding-top: 20px;

}

.modal-footer {
  margin-top: 20px;
	text-align: left;
	width:50%;
}

.pull-down {
	bottom: 6px;
}

#navbar {
	padding-left: 65px;
}

.navbar-brand {
    font-weight: bold!important;
    color: black!important;
    font-size: 20px;
}

.navbar-nav{
	font-size: 18px;
}

footer {
	background-color: black;
	height: 50px;
	color: white;
	padding-left: 65px;
}

@media screen and (max-width:768px), (max-width: 667px) and (orientation: landscape){

.list-group-item:nth-child(1){
  position:relative;
  height: 300px;

}


  #image{
    position: absolute;
    top: 0;
    left:0;
    max-width:575px;

  }

}


@media (max-width:375px){

 

.list-group-item:nth-child(1){
  position:relative;
  height: 285px;

}


  #image{
    position: absolute;
    top: 0;
    left:0;
    max-width:285px;

  }

}

